.bioGrid{
  display: grid;
  grid-template-columns: 35% 65%;
  column-gap: 1rem;
  margin-bottom: 1.5rem;
}


.portrait{
    background: url('/images/selfLowRes.png') no-repeat center;
    background-size: contain;
}

.aboutMeHeader{
    font-family: sans-serif;
    text-align:center;
    font-style: oblique;
    font-weight: bolder;
    color: rgb(35,64,143);
    font-size: 3.5rem; 
    text-align: center;
    padding-top:5%;
    padding-bottom:25px;
}

.aboutMeText{
    /* text-indent: 24px; */
    font-family: sans-serif;
    font-size: 1rem;
    padding:10px;
    color: rgb(100,100,100,0.65);
    
}

.aboutMeSkills{
    font-family: sans-serif;
    font-size: 2rem;
    padding-top: 3%;
    text-align: center;
    font-style: oblique;
    font-weight: bolder;
    /* color: rgb(0,183,241); */
    color: rgb(100,100,100,0.65);
}

.lightGray{
    max-width:100%;
    height:auto;
    padding:10px;
    text-align:center;
    background-position: center;
}

.skillIcon{
    height:60px;
    width:auto;
    margin:10px;

}

.aboutRows{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%
  }
  
  .aboutContainers{
    position:relative;
    align-content: center;
    align-items: center;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .aboutStack{
    position:relative;
    align-content: center;
    align-items: center;
    width: 100%;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .part2{
    display: none;
  }

/* ====================================== Responsiveness*/


@media screen and (min-width: 1375px){
  .bioGrid{
    position: relative;
    display: grid;
    grid-template-columns: 45 55%;
    column-gap: 1rem;
    padding-bottom: 1rem;
  }
  

  .aboutMeSkills{
    font-size: 1.75rem;
  }

  .skillIcon{
    height:55px
  }

}

@media screen and (max-width: 1050px){

  .aboutMeSkills{
    font-size: 1.75rem;
  }

  .skillIcon{
    height:55px
  }

}

@media screen and (max-width: 900px){

  .aboutMeHeader{
    font-size: 2.75rem;
    padding-bottom: 15px;
  }

  .aboutMeText{
    font-size: 14px;
    padding-bottom: .5rem;
  }

}

@media screen and (max-width: 800px){

  .bioGrid{
    grid-template-columns: 45% 55%;
  }

  .aboutMeHeader{
    font-size: 2rem;
  }

  .aboutMeText{
    font-size: 14px;
    padding-bottom: .5rem;
  }

}

@media screen and (max-width: 750px){

  .bioGrid{
    position:relative;
    display: block;
    text-align: center;
  };

  .aboutMeSkills{
    font-size: 1.5rem;
  }

  .skillIcon{
    height:50px
  }

  .aboutContainers{
    width: 100%
  }

  .portraitDisappear{
    display: none;
  }

  .part2{
    text-align: center;
    display: block;
    height:250px;
    margin-left: auto;
    margin-right: auto;
  }

}



@media screen and (max-width: 400px){


  .aboutMeSkills{
    font-size: 1.25rem;
  }

  .skillIcon{
    height:45px
  }

  .aboutMeHeader{
    font-size: 1.75rem;
  }

}

@media screen and (max-width: 350px){
  .aboutMeHeader{
    font-size: 1.5rem;
  }
  .part2{
    height: 200px;
  }
}