.portrait{
    background-image: url('/images/aboutMePage/selfLowRes.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

.aboutMeHeader{
    font-family: sans-serif;
    text-align:center;
    font-style: oblique;
    font-weight: bolder;
    color: rgb(35,64,143);
    /* color:rgb(35,64,143); */
    font-size: 3.5rem; 
    /* text-shadow: 2px 2px 0px rgb(35,64,143); */
    text-align: center;
    padding-top:5%;
    padding-bottom:25px;
}

.aboutMeText{
    text-indent: 20px;
    font-family: sans-serif;
    font-size: 1rem;
    padding:10px;
    color: rgb(100,100,100,0.65);
    
}

.aboutMeSkills{
    font-family: sans-serif;
    font-size: 2rem;
    padding-top: 3%;
    text-align: center;
    font-style: oblique;
    font-weight: bolder;
    /* color: rgb(0,183,241); */
    color: rgb(100,100,100,0.65);
}

.lightGray{
    max-width:100%;
    height:auto;
    padding:10px;
    text-align:center;
    background-position: center;
}

.skillIcon{
    height:60px;
    width:auto;
    margin:10px;

}

.aboutRows{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%
  
  }
  
  .aboutContainers{
    position:relative;
    align-content: center;
    align-items: center;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .portraitContainer{
    position:relative;
    align-content: center;
    align-items: center;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .whoAmIContainer{
    position:relative;
    align-content: center;
    align-items: center;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .whoAmIPadding{
    padding-right:2rem;
    padding-left:2rem;
    padding-top:1rem;
  }


