
/* =============================== Headings */

.artDirection{
  font-family: 'GregsText';
  font-size: 4rem;
  text-align:center;
  font-weight: bolder;
  color: rgb(0,183,241);
  margin-top:3rem;
  margin-bottom:2rem;
}



/* ================================== carousel */

.photoContent{
  margin: 0 auto;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.sliderContainer {
  max-width: 600px;
}

.sliderContainer IMG{
  max-width: inherit;
}

.picButtons{
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-content:center;
  align-items: center;
  z-index: 2;
  color:rgb(255,255,255,0.45);
  font-size:3rem;
  margin-right: -2.5rem;
  transition: transform .5s;
  transform: scale(1);
  font-weight:bolder;
  user-select: none;
}


.buttonRight{
  margin-left: -2.25rem;
}

.buttonLeft{
  margin-left: -2.25rem;
}

.picButtons:hover{
  transition: transform .5s;
  transform: scale(.75)
}

.picTextAlign{
  text-align: center;
  margin-top:1rem;
  font-family: sans-serif;
  font-size: 1 rem;
  color: rgb(0,0,0,0.5)
}


/* ======================================================================================================== Mags */

.magRows{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%

}

.magContainers{
  position:relative;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mags{
  width: 500px;
  /* display: flex; */
  /* flex-direction: column;
  align-content: center;
  align-items: center; */

}

.imgDescription{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-family: serif;
  font-weight: bolder;
  font-size: 1.5rem;
  text-shadow: 1.25px 1.25px 1px black;
  visibility: hidden;
  /* font-style:italic;   */
  text-align:center;
}


.imgDescription:hover{
  cursor:pointer;
}

.mags IMG{
  width: inherit;
  height: auto;
  position: inline;
  padding-bottom:15px;

}

.mags:hover IMG{
  filter: grayscale(75%) blur(0.75px) opacity(75%);
}

.mags:hover .imgDescription{
  visibility: visible;
}

/* =================================================================== Redirect Buttons */

.buttonAlign{
  text-align:center;
  margin-top: 2rem;
}

.demoReadButtons{
  background-color:rgb(35,64,143);
  color:white;
  font-family: sans-serif;
  font-size: 1rem;
  padding:.25rem;
  padding-left:.5rem;
  padding-right:.5rem;
  border-radius: 25px;
  margin-left:0.5rem;
  margin-right: 0.5rem;
  transition: transform .5s;
  transform: scale(1);
}

.demoReadButtons:focus{
  outline:0;
}

.demoReadButtons:hover{
  transition: transform .5s;
  transform: scale(.75)
}

/* ============================================ Responsiveness */

@media screen and (max-width: 1289px){
  .mags{
    width:450px;
  }

  .magContainers{
    margin-top:.9rem;
    margin-bottom: .9rem;
  }
}

@media screen and (max-width: 1149px){
  .mags{
    width:400px;
  }

  .magContainers{
    margin-top:.8rem;
    margin-bottom: .8rem;
  }
}

@media screen and (max-width: 1080px){
  .mags{
    width:350px;
  }
  .magContainers{
    margin-top:.7rem;
    margin-bottom: .7rem;
  }

}

@media screen and (max-width: 949px){
  .mags{
    width:300px;
  }
  .magContainers{
    margin-top:.6rem;
    margin-bottom: .6rem;
  }

  /* .imgDescription{
    font-size: 1rem;
    font-weight: bold;
} */

}

@media screen and (max-width: 804px){
  .mags{
    width:250px;
  }
  .magContainers{
    margin-top:.5rem;
    margin-bottom: .5rem;
  }

  .artDirection{
    font-size:3.25rem;
    /* margin:2rem; */
  }

  .sliderContainer{
    max-width:500px;
  }

  .picButtons{
    font-size: 2.5rem;
  }

    .imgDescription{
      font-size: 1.15rem;
      font-weight: bold;
  }
  

}

@media screen and (max-width: 684px){

  .artDirection{
    font-size:2.5rem;
    /* margin:2rem; */
  }

  .mags{
    width:300px;
  }

  .magContainers{
    width:100%;
  }

  .sliderContainer{
    max-width:400px;
  }

  .picButtons{
    font-size: 2rem;
  }  

  .buttonRight{
    margin-left: -2rem;
  }
  
  .buttonLeft{
    margin-right: -2rem;
  }

  .imgDescription{
    font-size: 1.25rem;
    font-weight: bold;
}


}

@media screen and (max-width: 449px){

  .artDirection{
    font-size:2rem;
    margin-bottom:1rem;
  }

  .mags{
    width:250px;
  }

  .magContainers{
    width:100%;
  }

  .sliderContainer{
    max-width:250px;
  }

  .picButtons{
    font-size: 2rem;
  }  

  .buttonRight{
    margin-left: -2rem;
  }
  
  .buttonLeft{
    margin-right: -2rem;
  }


  .imgDescription{
    font-size: 1.15rem;
    font-weight: bold;
}

}