/* =============================== Headings */

.artDirection{
  font-family: 'GregsText';
  font-size: 4rem;
  text-align:center;
  font-weight: bolder;
  color: rgb(0,183,241);
  margin:3rem;
}


/* ================================== carousel */

.photoContent{
  margin: 0 auto;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.sliderContainer {
  max-width: 600px;
}

.sliderContainer IMG{
  max-width: inherit;
}

.picButtons{
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-content:center;
  align-items: center;
  z-index: 2;
  color:white;
  font-size:3rem;
  margin-right: -2.5rem;
  transition: transform .5s;
  transform: scale(1);
  font-weight:bolder;
  user-select: none;
}


.buttonRight{
  margin-left: -2.25rem;
}

.buttonLeft{
  margin-left: -2.25rem;
}

.picButtons:hover{
  transition: transform .5s;
  transform: scale(.75)
}

.picTextAlign{
  text-align: center;
  margin-top:1rem;
  font-family: sans-serif;
  font-size: 1 rem;
  color: rgb(0,0,0,0.5)
}


/* ======================================================================================================== Mags */

.magRows{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%

}

.magContainers{
  position:relative;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mags{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

}

.imgDescription{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-family:'GregsText';
  font-weight: bolder;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px black;
  visibility: hidden;
  font-style:italic;  
  text-align:center;
}



.imgDescription:hover{
  cursor:pointer;
}

.mags IMG{
  width: inherit;
  height: auto;
  position: inline;
  padding-bottom:15px;

}

.mags:hover IMG{
  filter: grayscale(75%) blur(0.75px) opacity(75%);
}

.mags:hover .imgDescription{
  visibility: visible;
}

/* =================================================================== Redirect Buttons */

.buttonAlign{
  text-align:center;
  margin-top: 2rem;
}

.demoReadButtons{
  background-color:rgb(35,64,143);
  color:white;
  font-family: sans-serif;
  font-size: 1rem;
  padding:.25rem;
  padding-left:.5rem;
  padding-right:.5rem;
  border-radius: 25px;
  margin-left:0.5rem;
  margin-right: 0.5rem;
  transition: transform .5s;
  transform: scale(1);
}

.demoReadButtons:hover{
  transition: transform .5s;
  transform: scale(.75)

}