.blogAlign{
    width:100%;
    display: flex;
    flex-direction: row;
}

.articleColumn{
    align-items:top;
    display: flex;
    flex-direction: column;
    min-width: 70%;
    flex-wrap: wrap;
}

.previousPostsContainer{

    background-color:lightgray;
    width:100%;
    border-radius:15px

}

.previousPostsColumn{
    display: flex;
    flex-direction: column;
    align-items:top;
    min-width: 30%;
    flex-wrap: wrap;
}

.previousPostText{
    padding-right: 2rem;
    padding-left:2rem;
    padding-bottom:2rem;
}

.articlePadding{
    padding-right: 2rem;
    padding-left:2rem;
}

.titleColor{
    color:  rgb(35,64,143);
}

.arrowColor{
    color:white;
    font-weight:bolder;
}

.previousTitle{
    font-family: 'Oleo Script', cursive;
    font-weight: 100;
    color:white;
    text-shadow: 1.25px 1.25px 1px rgb(0,0,0,0.75)
}