.blogEntryContainer{
    padding-right:1.5rem;
}

.blogEntryHeader{
    color:rgb(35,64,143);
    font-family: serif;
    font-size:2.5rem;
    text-align:center;
}

.blogEntryDate{
    color:rgb(0,0,0,0.5);
    font-family:sans-serif;
    font-style:italic;
    text-align:center;
}

.blogEntryParagraph{
    font-family: sans-serif;
    margin-top:2rem;
    text-indent: 20px;
}

/* ========================================================================= Responsiveness */

@media screen and (max-width: 879px){
    .blogEntryContainer{
        padding-right:0rem;
    }
}

@media screen and (max-width: 685px){
    .blogEntryParagraph{
        font-size: .9rem;
    }

    .blogEntryHeader{
        font-size:2rem;
    }
}

@media screen and (max-width: 499px){

    .blogEntryParagraph{
        font-size: .85rem;
    }
    .blogEntryDate{
        font-size:.9rem;
    }

}

@media screen and (max-width:399px){

    .blogEntryParagraph{
        font-size: .8rem;
    }

    .blogEntryHeader{
        font-size:1.75rem;
    }
}